@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --GiftTechGreen: #5EB130;
    --GiftTechBlue: #0C1559;
    --GiftTechGrey: #474747;
}
.fontWhite {
    color: white;
}
.fontBlack {
    color: black;
}
.fontGreen {
    color: var(--GiftTechGreen);
}
@font-face {
    font-family: Poppins, sans-serif;
}
body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width: 920px) {
    html {
        font-size: 12px;
    }
}
.wrapper {
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
    cursor: pointer !important;
}
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 25px;
    flex-wrap: wrap;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
}
nav .logoImage {
    height: 95%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
ul li {
    margin: 0.5rem;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    height: 35%;
    color: black !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active {
    color: var(--GiftTechGreen);
}
nav ul li a:hover {
    color: var(--GiftTechGreen) !important;
}
nav .menu-btn i {
    color: var(--GiftTechGreen);
    font-size: 22px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}
nav .menu-btn i:hover {
    color: var(--GiftTechGreen);
    transition: 0.3s ease;
}
input[type="checkbox"] {
    display: none;
}
@media (max-width: 450px) {
    .h1Sep {
        font-size: 42px !important;
    }
    .pSep {
        font-size: 18px !important;
    }
    .textSep {
        width: 100% !important;
    }
    .mobileBig {
        font-size: 18px;
    }
}
@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
    .h1Sep {
        font-size: 42px !important;
    }
    .pSep {
        font-size: 18px !important;
    }
    .textSep {
        width: 100% !important;
    }
    .mobileBig {
        font-size: 18px;
    }
}
@media (max-width: 920px) {
    html {
        font-size: 12px;
    }

    nav .menu-btn i {
        display: block;
    }

    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }

    nav {
        background: white;
        width: 100%;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: white;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        color: black;
    }

    #click:checked ~ ul li a {
        margin-left: 0px;
    }

    nav ul li a.active, nav ul li a:hover {
        background: none;
        color: var(--GiftTechGreen) !important;
    }

    nav .logoImage {
        height: 95%;
    }
}
.bg {
    padding-block: 15rem;
    margin-block-end: 0;
    background-position: center;
    background-size: cover;
    background-image: url("Images/Untitled design (3) (1).png");
    height: 800px;
}
.h1Sep {
    font-size: 69px;
    font-weight: 1000;
    padding-left: 35px;
    padding-right: 35px;
}
.h1SepCard {
    font-size: 36px;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
}
.pSep {
    font-size: 28px;
    font-weight: 400;
    padding-left: 35px;
    padding-right: 35px;
}
.pSepCard {
    font-size: 16px;
    font-weight: 200;
    padding-left: 25px;
    padding-right: 25px;
}
.btn {
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 250px;
    opacity: 1;
    background-color: white;
    border: none;
}
.btn .btnspan {
    color: var(--GiftTechGreen);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
}
.blue {
    height: 200px;
    width: 100vw;
    background-color: blue;
}

.section-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}
.section-container .columns {
    flex: 0 0 auto;
    width: 50%;
}
.section-container .columns.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-container .columns.content .content-container {
    padding: 40px 50px;
}
.section-container .columns.content .content-container h1 {
    color: white;
    font-size: 69px;
    font-weight: 1000;
}
.section-container .columns.content .content-container p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}
@media screen and (max-width:767px) {
    .section-container {
        flex-flow: row wrap;
    }
    .section-container .columns.image {
        display: block;
        order: 2;
        width: 100%;
        height: 375px;
    }
    .section-container .columns.content {
        display: block;
        order: 1;
        width: 100%;
    }
    .section-container .columns.content .content-container {
        padding: 20px 35px;
    }
    .section-container .columns.content .content-container h1 {
        margin-bottom: 5px;
    }
    .section-container .columns.content .content-container h2 {
        font-size: 28px;
        font-weight: 800;
    }
    .section-container .columns.content .content-container h2 p {
        justify-content: center;
        align-content: center;
    }
    .flex {
        flex-flow: row wrap;
    }
    .c1 {
        order: 1;
    }
    .c2 {
        order: 2;
    }
    .c3 {
        order: 3;
    }
}
.donateBtn2 {
    border: 1px solid var(--GiftTechBlue);
    border-radius: 50px;
    padding: 12px;
    width: max-content;
    transition: 0.3s ease-in-out;
}
.donateBtn2:hover {
    background-color: white;
    transition: 0.3s ease-in-out;
}
.cardLink {
    color: black;
    border: 1px solid var(--GiftTechGreen);
    border-radius: 50px;
    padding: 8px;
    width: max-content;
}
.whatWeDoSec {
    width: 100vw;
    height: 300px;
    text-align: center;
    margin: auto auto;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-around;
    padding: 24px;
    gap: 25px;
}
.card {
    z-index: -2;
    padding: 24px 14px;
    height: 200px;
    width: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}